<a href="https://colab.research.google.com/github/kfm57/BTE-320-Kayla-Martins/blob/main/L_Append_Extend_Feb_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
L = [1, 'two', 3.0, print [5, 7, 9]]
len(L)

[24] L + ['three']
    [1, 'two', 3.0, <function print>, [5,7,9],'three']

L.append (['three',4])

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-6-34b79f3dabc7>, line 1)

In [ ]:
L.entend(['three',4])
L

In [ ]:
L.pop(2)
L
[1, 'two', <function print>, [5, 7, 9], 'three']

In [7]:
numbers= [5, 7, 3, 0, 1, 6]
numbers.sort()
numbers

[0, 1, 3, 5, 6, 7]

In [13]:
L = []

number = int(input('Enter a value: '))

while number !=0:
    L.append(number)
    number = int(input('Enter a value: '))
L

Enter a value: 2
Enter a value: 9
Enter a value: 0

[2, 9]

In [17]:
l1 = [1, 2, 3, 4]
l2 = [1, 2, 5, 6]

for item in l1[:]:
  if item in l2:
    l1.remove(item)

l1

[3, 4]

In [18]:
t=(1, 'two', 3.0)